body{
    padding: 0;
    margin: 0;
    background-color:#fff;
}
.heading{
    font-size: 25px;
    font-weight: 600;
    color: #5a5a5a;
    margin-left: 25px;
    margin-top: 10px;
}
.butoon{
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 15px;
    height: 30px;
    border-color: #5a5a5a;
     border-width: 1px;
     border-style:solid; 
     font-size: 20px;
    display: flex;
}
.butoon p{
    margin-left: 3px;
    color: #5a5a5a;
    font-size: 25px;
}

#select{
    margin-left: 60rem;
    font-size: 15px;
    font-weight: 400;
    background-color: rgb(0, 255, 132);
    width: 80px;
    outline: 0;
    border: 0;
    border-radius: 30%;
}
.sr p{
    font-size: 20px;
    margin-left: 25px;
    font-weight: 500px;
    color: #5a5a5a;
    line-height: 25px;
}
.list-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-column-gap:16px;
    grid-row-gap:30px;
    margin-top: 15px;
    margin-left: 35px;
    margin-right: 25px;
}
.img-list{
    background-color:whitesmoke;
    height: 260px;
    width: 220px;
    margin-right:5px;
    margin-left: 5px;
    margin-bottom: 5px;
}
.thumbnail{
    height: 210px;
    width: 220px;
}
.img-list p{
    font-size: 17px;
    font-weight: 450;
    margin-left: 2px;
}
h3{
    font-size: 35px;
    font-weight: 600;
    color: #5a5a5a;
    margin-left: 45px;
    margin-top: 10px;
    margin-bottom: 3px;
}


.box{
    display: flex;
    background-color: white;
    height: 450px;
}
.left{
    flex-basis: 37%;
    height: 400px;
    margin-left: 37px;
    margin-right: 17px;
}
.right{
    flex-basis: 60%;
    background-color:whitesmoke;
    margin-left: 17px;
    margin-right: 35px;
}
.rohanpic{
    width: 100%;
    height: 440px;
}
.right p{
    font-size: 20px;
    font-weight: 500;
    color: #5a5a5a;
    line-height: 2rem;
    margin-left: 15px;
}
.right p span{
    font-weight:800;
    margin-left: 5px;
}
.contact{
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 15px;
    margin-top: 10px;
    padding: 10px;
    border-style: none solid;
    border-color: #5a5a5a;
    border-width: 1px;
    border-style:solid; 
    border-left: hidden;
    border-right: hidden;
    background-color: rgba(255, 235, 205, 0.363);

}
.contact p{
    font-size: 20px;
    font-weight: 300;
    margin-left: 3px;
    color: #5a5a5a;
}
.contact p span{
    color: black;
    font-weight: 500;
}
.border{
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 15px;
    padding: 10px;
    border-style: none solid;
    border-color: #5a5a5a;
    border-width: 2px;
    border-style:solid; 
    font-size: 20px;
}
h2{
    font-size: 23px;
    font-weight: 500;
    color: #ef0707bd;
    margin-left: 40px;
    margin-top: 20px;
}
.study{
    display: block;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 15px;
    margin-top: 10px;
    padding: 10px;
    border-style: none solid;
    border-color: #5a5a5a;
    border-width: 1px;
    border-style:solid; 
    border-left: hidden;
    border-right: hidden;
    background-color: rgba(255, 235, 205, 0.363);
}
.detbox{
    display: flex;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 15px;
    margin-top: 10px;
    padding: 10px;
    border-style: none solid;
    border-color: #5a5a5a;
    border-width: 1px;
    border-style:solid; 
    border-left: hidden;
    border-right: hidden;
    background-color: rgba(255, 235, 205, 0.363);
}
.contact1{
    flex-basis: 50%;
}
.contact2{
    flex-basis: 50%;   
}
.detbox p{
    font-size: 17px;
    font-weight: 300;
    margin-left: 3px;
    color: #5a5a5a;
}
.detbox p span{
    color: black;
    font-weight: 500;
}
.ab{
    align-items: left;
    display: block;
}

.study p{
    font-size: 19px;
    font-weight: 300;
    margin-left: 3px;
    color: #5a5a5a;
}
.study p span{
    color: black;
    font-weight: 500;
    font-size: 17px;
}
/*------------------------------Media query--------------------------*/

@media(max-width:900px){
    .hide{
        display: none;
    }
    .box2a{
        width: 30%;
        margin-left: 1px;
        float: left;
        font-size:13px;
    }
    .box2a:hover{
        width: 30%;
        margin-left: 1px;
        float: left;
        font-size:13px;
    }
    h3{
        font-size: 29px;
        font-weight: 600;
        color: #5a5a5a;
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 7px;
    }
    .butoon{
        display: flex;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 15px;
        height: 35px;
        width: 330px;
        border-color: #5a5a5a;
         border-width: 1px;
         border-style:solid; 
         font-size: 18px;
       
    }
    .butoon p{
        margin-left: 3px;
        color: #5a5a5a;
        font-size: 15px;
    }
    #select{
        margin-left: 11rem;
        font-size: 15px;
        font-weight: 400;
        background-color: rgb(0, 255, 132);
        width: 90px;
        outline: 0;
        border: 0;
        border-radius: 30%;
    }
    .sr p{
        font-size: 14px;
        margin-left: 25px;
        font-weight: 500px;
        color: #5a5a5a;
        line-height: 18px;
    }

    .img-list{
        background-color:whitesmoke;
        height: 300px;
        width: 280px;
        margin-right:5px;
        margin-left: 5px;
        margin-bottom: 7px;
    }
    .thumbnail{
        height: 270px;
        width: 280px;
        
    }
    .box{
        display: block;
        background-color: whitesmoke;
        height: 850px;
        margin-bottom: 3px;
    }
    .left{
        height: 400px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 5px;
    }
    .rohanpic{
        width: 100%;
        height: 400px;
    }
    .right{
        background-color:whitesmoke;
        height: 400px;
        margin-left: 1px;
    }
    .right p{
        font-size: 18px;
        font-weight: 500;
        color: #5a5a5a;
        line-height: 2rem;
        margin-left: 1px;
    }
    .right p span{
        font-weight:800;
        margin-left: 5px;
    }
    h2{
        font-size: 23px;
        font-weight: 600;
        color: #ef0707bd;
        margin-left: 20px;
        margin-top: 20px;
    }
    .contact{
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-top: 10px;
        padding: 2px;
        border-style: none solid;
        border-color: #5a5a5a;
        border-width: 1px;
        border-style:solid; 
        border-left: hidden;
        border-right: hidden;
        background-color: rgba(255, 235, 205, 0.363);
    
    }
    .contact p{
        font-size: 14px;
        font-weight: 300;
        margin-left: 3px;
        color: #5a5a5a;
    }
    .contact p span{
        color: black;
        font-weight: 400;
    }
    .detbox{
        display: flex;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-top: 10px;

    }
    .detbox p{
        font-size: 15px;
        font-weight: 300;
        margin-left: 3px;
        color: #5a5a5a;
    }
    .detbox p span{
        color: rgba(0, 0, 0, 0.751);
        font-weight: 300;
    }
    
}
@media(max-width:400px){
    .hide{
        display: none;
    }
   
}